### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2989]:
# Dependencies and Setup
import pandas as pd


school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2990]:
#Calculate the total number of schools - done
school_count = school_data_complete.drop_duplicates(subset="school_name")
total_schools = school_count["school_name"].value_counts()
#total_school = total_schools[total_schools].cumsum()
school_tally = total_schools.count()
school_tally

15

In [2991]:
#Calculate the total number of students - done
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [2992]:
#Calculate the total budget - done
total_budget = school_data["budget"].sum()
total_budget

24649428

In [2993]:
#Calculate the average math and reading scores - done
math_average = school_data_complete["math_score"].mean()
reading_average = school_data_complete["reading_score"].mean()
#print("math", math_average, "reading", reading_average)
print(math_average, reading_average)

78.98537145774827 81.87784018381414

In [2994]:
#students passing math & reading - done
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

#Calculate the percentages of students passing math & reading - done
math_count = passing_math["student_name"].count()
math_percent = math_count/student_count*100
reading_count = passing_reading["student_name"].count()
reading_percent = reading_count/student_count*100
print("math%", math_percent, "reading%", reading_percent)

math% 74.9808526933878 reading% 85.80546336482001

In [2995]:
#Calculate the overall passing percent - DONE
overall_passing = (math_percent + reading_percent)/2

In [2996]:
data = {'Total Schools':[school_tally],
        'Total Students':[student_count],
        'Total Dudget': [total_budget],
        'Average Math Score':[math_average],
        'Average Reading Score': [reading_average],
        '%Passing Math': [math_percent],
        '%Passing Reading': [reading_percent],
        '%Overall Passing': [overall_passing]
        
        }
df = pd.DataFrame(data, columns=['Total Schools', 'Total Students', 'Total Dudget', 'Average Math Score', 'Average Reading Score', '%Passing Math', '%Passing Reading', '%Overall Passing'  ])
df

,Total Schools,Total Students,Total Dudget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [2997]:
#School Name - DONE
school_df = school_data_complete.set_index('school_name').groupby(['school_name'])
#type of school
type_of_school = school_df['type'].first()
Total_students = school_df.size()

In [2998]:
#Calculate individual school budgets - Done
inv_school_budg = (school_data_complete.groupby(["school_name"]).mean()["budget"])
inv_school_budg 
student_budget = inv_school_budg/Total_students

In [2999]:
#average math&reading scores by individual school - Done
math_by_school = school_data_complete.groupby(["school_name"]).mean()["math_score"] 
reading_by_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
reading_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [3000]:
#Calculate the percent passing math & reading by indv schools - DONE
math_percent1 = school_data_complete[school_data_complete['math_score']>=70].groupby('school_name')['Student ID'].count()/Total_students*100
read_percent = school_data_complete[school_data_complete['reading_score']>=70].groupby('school_name')['Student ID'].count()/Total_students*100

In [3001]:
#overall passing 
overall_passing_schools = math_percent1 + read_percent/Total_students

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [3002]:
#indv_school_df = indv_school_df.sort_values(by='%Overall Passing', ascending=False)
indv_school_df.sort_values(by='%Overall Passing', ascending=False , inplace=True)
indv_school_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
school_name,,,,,,,,,
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [3003]:
#calculate bottom performing schools - done
indv_school_df.sort_values(by='%Overall Passing', ascending=True , inplace=True)
indv_school_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [3004]:
#Math By Grade - done
ninth_grade_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_grade_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

#grade level average
grade_level_df = pd.DataFrame({
                        '9th': ninth_grade_math,
                        '10th': tenth_grade_math,
                        '11th': eleventh_grade_math,
                        '12th': twelfth_grade_math
})
grade_level_df = grade_level_df[['9th', '10th', '11th', '12th']]
grade_level_df.index.name = 'School_Name'
grade_level_df.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [3005]:
#calculate scores by grade - done
ninth_grade_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#grade level average
grade_level_df = pd.DataFrame({
                        '9th': ninth_grade_reading,
                        '10th': tenth_grade_reading,
                        '11th': eleventh_grade_reading,
                        '12th': twelfth_grade_reading
})
grade_level_df = grade_level_df[['9th', '10th', '11th', '12th']]
grade_level_df.index.name = 'School_Name'
grade_level_df.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [3006]:
#calculate scores by school spending - DONE
bins = [0, 585, 615, 645, 675]
bin_name = ['$0-585', '$586-615', '$616-645', '$646-675']
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = bin_name)

#group by spending
school_spending = school_data_complete.groupby('spending_bins')

#calculations
avg_math = school_spending['math_score'].mean()
avg_read = school_spending['reading_score'].mean()
pass1ng_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/school_spending['Student ID'].count()
pass1ing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/school_spending['Student ID'].count()
overall_passing1 = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/school_spending['Student ID'].count()

school_spending = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass1ng_math,
    '% Passing Reading': pass1ing_reading,
    "Overall Passing Rate": overall_passing1
})

school_spending = school_spending[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"]]

school_spending.index.name = "Spending Ranges (Per Student)"
school_spending = school_spending.reindex(bin_name)
school_spending

school_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [3007]:
#calcualte scores by size - Done
bins = [0, 1000, 2000, 5000]
bin_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = bin_name)

#group by spending
size = school_data_complete.groupby('size_bins')

#calculations 
avg_math = size['math_score'].mean()
avg_read = size['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(bin_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [3008]:
#calculate_scores_by_type - Done
scores_by_type = school_data_complete.groupby("type")

#calculations 
avg_math = scores_by_type['math_score'].mean()
avg_read = scores_by_type['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/scores_by_type['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/scores_by_type['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/scores_by_type['Student ID'].count()
           
scores_by_type1 = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
scores_by_type1 = scores_by_type1[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type1.index.name = "Type of School"



scores_by_type1.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})